<h1 class="display-3 text-center main-title mt-4">Doctors public page</h1>

<%= render '/shared/logout_file' %>

<div class="row featurette card-body mt-4">
  <div class="col-md-7">
    <h2 class="featurette-heading">Hello <%= current_doctor.full_name %></h2>
    <p class="lead">Come and look upon the heart and Akulakhan  </p>
    <div class="custom-btn-image">
      <%= link_to "Enter your profile", doctor_path(@doctor), class: "btn btn-success btn-lg text-white" %>
    </div>
  </div>
  
</div>